/**
 * product detail tab section
 */
#my_tabs_2  {
	display:block;
	clear:both;
	overflow:hidden;
	display:block;
}

#my_tabs_2 ul.tab_controls {
	margin:20px 0 0;
	border-bottom:1px solid #999999;
	padding-left:20px;
	display:block;
	width:100%;
}

#my_tabs_2 ul.tab_controls li a.tab_control {
	padding:10px 20px;
	margin-right:5px;
	font-size:14px;
	border:1px solid #999999;
	border-bottom:none;
}

#my_tabs_2 ul.tab_controls li a.tab_control.current {
	border-bottom:1px solid #ffffff;
	margin-bottom:-1px !important;
}

#my_tabs_2 .tab_wrapper {
	display:block;
	width:100%;
	border:1px solid #999999;
	border-top:none;
	overflow:hidden;
	clear:both;
	padding:20px 30px;
}

#my_tabs_2 .tab_targets {
	width:660px;
	float:left;
	clear:none;
	min-height:400px;
}
