.styled_tabs  {
	display:block;
	clear:both;
	overflow:hidden;
	display:block;
}

.styled_tabs .controls {
	margin:20px 0 0;
	border-bottom:1px solid #999999;
	padding-left:20px;
	display:block;
	width:100%;
}

.styled_tabs .controls .control {
	padding:10px 20px;
	margin-right:5px;
	font-size:14px;
	border:1px solid #999999;
	border-bottom:none;
}

.styled_tabs .controls .control.current {
	border-bottom:1px solid #ffffff;
	margin-bottom:-1px !important;
}

.styled_tabs .targets {
	width:660px;
	float:left;
	clear:none;
	min-height:400px;
}
